body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

p {
  color: #8f8f8f;
}
.big-heading{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 10rem;
  font-weight: 900;
  font-size: 400%;
  line-height: 1.5;
  padding-left: 1rem;
  padding-bottom: 3%;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 10%;
}

/* navigation Bar */
.navbar {
  margin-bottom: 3%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* Button */
.downloadButton {
  margin: 5% 3% 5% 0;
}

.Download_btn_pos {
  padding-top: 15%;
  padding-left: 20%;
}

/* Title image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  font-family: Montserrat;
}
.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}

/* call action */
.call-action {
  color: white;
  text-align: center;
  font-family: 'Montserrat-black', sans-serif;
  background-color: #ff4c68;
  padding: 5% 3% 3%;
}

.call-icon:hover {
  color: #ff4c68;
}

.contact-me {
  color: gray;
}

/* footer */
#footer {
  padding: 3%;
}

.social-icon {
  margin: 20px 10px;
}

.go-on-top {
  padding-left: 90%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
